$warning:#ff6810;
$primary: #008cee;
$danger:#e50e00;
$text:#9e0000;
$success: #39b54a;
$grey: #cccccc;

.bg-orange{
  background-color: $warning;
}

.bg-grey{
  background-color: $grey;
}

.bg-green{
  background-color: $success;
}
