@mixin rounded($border) {
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	border-radius: $border;
}


@mixin shadow {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

@mixin gradient($top, $bottom) {
	background-color: $bottom;
	background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
	background: -moz-linear-gradient(top, $top,  $bottom);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}');
}

@mixin button {
	display: inline-block;
	padding: .5em 2em .55em;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	@include rounded(2rem);
	&:hover {
		text-decoration: none;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

@mixin color($background) {
	border: solid 1px darken($background, 3%);
	background: rgba(darken($background, 13%), .9);
  color: mix(#fff, $background, 90%);
	&:hover {
    background: rgba(darken($background, 13%), .5);
	}
	&:active {
    background: rgba(darken($background, 13%), .5);
	}
}

@mixin interiorPage($color){
  .step{
    font-size: 1.75rem;
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == 'sm-down' or $breakpoint == 'down'{
    @media screen and (max-width: 576px){
      @content;
    }
  }
  @if $breakpoint == 'md-down'{
    @media screen and (max-width: 768px){
      @content;
    }
  }
  @if $breakpoint == 'lg-down'{
    @media screen and (max-width: 992px){
      @content;
    }
  }
  @if $breakpoint == 'sm'{
    @media screen and (min-width: 576px){
      @content;
    }
  }
  @if $breakpoint == 'md'{
    @media screen and (min-width: 768px){
      @content;
    }
  }
  @if $breakpoint == 'lg'{
    @media screen and (min-width: 992px){
      @content;
    }
  }
  @if $breakpoint == 'xl'{
    @media screen and (min-width: 1200px){
      @content;
    }
  }
  @if $breakpoint == 'xxl'{
    @media screen and (min-width: 1440px){
      @content;
    }
  }
}