:root {
    --home-bg-color: #444444;
    --give-bg-color: rgb(192, 11, 11);
    --give-text-color: rgb(116, 32, 32);
    --terms-bg-color:rgb(219, 104, 9);
    --terms-text-color:rgb(156, 59, 34);
    --receive-bg-color:rgb(25, 148, 230);
    --receive-text-color:rgb(20, 99, 145);
}