@import "colors.css";


.givecrithtml {
    background-color: var(--give-bg-color);
}

.give-btn-container h3, h4, p {
    color: var(--give-text-color);
}

.collapsible {
    background-color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    padding: 3% 5%;
    outline: none;
    margin-top: 2%;
}

.collapsible:after {
    content: '+ READ MORE';
    font-size: 15px;
    color: brown;
    float: right;
    padding-top: 2%;
    margin-right: 5px;
}

.active:after {
    content: "- CLOSE WINDOW";
}

.page-container {
    background-color: var(--give-bg-color)
}

.sidenav .close-btn {
    color: var(--give-bg-color);
}

.sidenav a:hover {
    color: var(--give-bg-color);
}