@import "colors.css";

html {
    background-color: #444444;
}
h1, h2, h3, h4, p {
    color: white;
    width: 100%;
    padding: 0%;
}

h1 {
    margin-top: 0px;
}

h2 {
    margin: 1%;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

p {
    font-size: 25px;
    margin-bottom: 0%;
}

.menu-btn {
    color: black;
}

.link-item {
    margin: 2%;
    float: left;
    width: 100%;
}

.link-box {
    background-color: var(--give-bg-color);
    width: 100%;
    height: auto;
}

div.desc {
    padding: 3%;
    text-align: left;
}

* {
    box-sizing: border-box;
}

.responsive {
    margin: 0 1%;
    display: inline-block;
    width: 30%;
}

.box-container h3, h4, p {
    color: #444444;
    width: 100%;
    height: auto;
}

.box {
    background-color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    padding: 3% 5%;
    outline: none;
    margin-top: 2%;
}

