@import "colors.css";

.receivecrithtml {
    background-color: var(--receive-bg-color);
}

.receive-btn-container h3, h4, p {
    color: var(--receive-text-color);
}

.collapsible {
    background-color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    padding: 3% 5%;
    outline: none;
    margin-top: 2%;
}

.collapsible:after {
    content: '+  READ MORE';
    font-size: 15px;
    color: var(--receive-text-color);
    float: right;
    padding-top: 2%;
    margin-right: 5px;
}

.active:after {
    content: "-  CLOSE WINDOW";
}

.page-container {
    background-color: var(--receive-bg-color);
}

.sidenav .close-btn {
    color: var(--receive-bg-color);
}

.sidenav a:hover {
    color: var(--receive-bg-color);
};