.sharedhtml {
    background-color: rgb(219, 104, 9);
}

h1 {
    color:white;
}

h2 {
    color:white;
}


h4 {
    font-family:'Helvetica Light';
    font-weight: normal;
}

.receive-btn-container h3, h4, p {
    color: rgb(209, 74, 40);
}

.collapsible {
    background-color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    width: 100%;
    padding: 3% 0%;
    outline: none;
    margin-top: 2%;
}

.collapsible:after {
    content: '+  READ MORE';
    font-size: 15px;
    color: rgb(209, 74, 40);
    float: right;
    padding-top: 2%;
    padding-right: 3%;
    margin-right: 5px;
}

.active:after {
    content: "-  CLOSE WINDOW";
    padding-right: 3%;
}

.collapse-grid {
    display: flex;
    justify-content: space-evenly;
}

.col:first-child {
    border-right: 5px solid rgb(209, 74, 40);
    border-bottom: none;
}
.col {
    width: 50%;
    align-content: center;
    text-align: center;
}

.page-container {
    background-color: rgb(219, 104, 9);
}

.sidenav .close-btn {
    color: rgb(219, 104, 9);
}

.sidenav a:hover {
    color: rgb(219, 104, 9);
}

@media (max-width: 400px) {
    .collapse-grid {
        margin-left: 25%;
        display: block;
    }
    .col {
        margin: 5%;
    }
    .col:first-child {
        padding-bottom: 3%;
        border-right: none;
        border-bottom: 3px solid rgb(209, 74, 40);
    }
}